html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 0;
}

.container {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

header {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  z-index: 2;
  background-color: white;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header ul {
  gap: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  color: #9698a6;
}

p {
  color: #9698a6;
  line-height: 150%;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0;
}

h1 {
  font-size: 5.6rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2rem;
}

.btn {
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  color: white;
  font-size: 1.4rem;
}

.btn.--invite {
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), color-stop(101.38%, #2bb7da));
  background: linear-gradient(90deg, #31d35c 0%, #2bb7da 101.38%);
}

.section-hero {
  height: 60rem;
  background-color: #fafafa;
  padding: 10rem 0;
}

.section-hero .text-hero {
  max-width: 46rem;
}

.section-hero p {
  margin-bottom: 4rem;
}

.section-hero .hero-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.img-hero {
  background-image: url("/img/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.img-hero .img-mockup {
  max-width: 62rem;
  position: relative;
}

.section-benefits {
  background-color: #f3f4f6;
  padding: 5rem 0;
  text-align: center;
}

.section-benefits .cards-benefits-wrapper {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.section-benefits .card-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-benefits .card-benefits img {
  max-width: 8rem;
}

.section-blog {
  background-color: #fafafa;
  padding: 5rem 0;
}

.section-blog .cards-blog-wrapper {
  margin-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
}

.section-blog img {
  height: 24rem;
  max-width: 100%;
}

.section-blog .card-blog {
  border-radius: 0.6rem;
  overflow: hidden;
}

.section-blog p {
  font-size: 1.5rem;
}

.section-blog .card-blog-content {
  padding: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-blog address {
  font-size: 1.3rem;
  font-style: normal;
  color: #9698a6;
}

footer {
  background-color: #2d314d;
  padding: 4rem 0;
}

footer .row,
footer .footer-left,
footer .footer-right,
footer .footer-socialmedia,
footer .col-1,
footer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-right {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer .footer-right a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

footer .footer-right p {
  font-size: 1.6rem;
}

footer .col-1 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-left {
  gap: 10rem;
}

footer .footer-socialmedia {
  gap: 1rem;
}

footer nav {
  gap: 8rem;
}

footer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  gap: 1.5rem;
  margin: unset;
}

footer nav a {
  font-size: 1.6rem;
  font-weight: 300;
  color: #f3f4f6;
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

footer nav a:hover {
  color: #2ec695;
}

footer .footer-logo {
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}

footer .footer-socialmedia .filter-limegreen {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

footer .footer-socialmedia .filter-limegreen:hover {
  -webkit-filter: invert(30%) sepia(13%) saturate(2000%) hue-rotate(110deg) brightness(90%) contrast(90%);
          filter: invert(30%) sepia(13%) saturate(2000%) hue-rotate(110deg) brightness(90%) contrast(90%);
}

@media screen and (max-width: 1000px) {
  header,
  .section-hero {
    display: none;
  }
  .section-benefits h2 {
    margin-bottom: 4rem;
  }
  .section-benefits .cards-benefits-wrapper {
    margin-top: 6rem;
    gap: 5rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-benefits .card-benefits {
    text-align: center;
  }
  .section-blog .cards-blog-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .section-blog .card-blog {
    width: 45%;
  }
  .section-blog img {
    width: 100%;
  }
  footer {
    background-color: #2d314d;
    padding: 4rem 0;
  }
  footer nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
  footer .row {
    gap: 4rem;
  }
  footer .row,
  footer .footer-left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-left,
  footer .footer-right,
  footer .col-1 {
    gap: 3.5rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer nav ul {
    padding: unset;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }
  .section-blog .cards-blog-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .section-blog .card-blog {
    width: 60%;
  }
  .section-blog img {
    height: unset;
  }
}

@media screen and (max-width: 475px) {
  h2 {
    text-align: center;
  }
  .section-blog .cards-blog-wrapper {
    margin-top: 3.5rem;
  }
  .section-blog .card-blog {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */