@import "_colors.scss";

html {
  font-size: 62.5%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.8rem;
  margin: 0 auto;
  padding: 0;
}
.container {
  padding-right: 3rem;
  padding-left: 3rem;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
header {
  position: fixed;
  width: 100%;
  padding: 1rem 0;
  z-index: 2;
  background-color: $white;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  ul {
    gap: 3rem;
    display: flex;
    list-style-type: none;
    color: $grayish-blue;
  }
}
p {
  color: $grayish-blue;
  line-height: 150%;
  margin: 0;
}
h1,
h2,
h3,
h4 {
  font-weight: 300;
  margin: 0;
}
h1 {
  font-size: 5.6rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.4rem;
}
h4 {
  font-size: 2rem;
}
.btn {
  text-decoration: none;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  color: $white;
  font-size: 1.4rem;
  &.--invite {
    background: linear-gradient(90deg, $lime-green 0%, $bright-cyan 101.38%);
  }
}
.section-hero {
  height: 60rem;
  background-color: $very-light-gray;
  padding: 10rem 0;
  .text-hero {
    max-width: 46rem;
  }
  p {
    margin-bottom: 4rem;
  }
  .hero-wrapper {
    display: flex;
    justify-content: space-between;
  }
}
.img-hero {
  background-image: url("/img/bg-intro-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  .img-mockup {
    max-width: 62rem;
    position: relative;
  }
}
.section-benefits {
  background-color: $lightgrayish-blue;
  padding: 5rem 0;
  text-align: center;
  .cards-benefits-wrapper {
    margin-top: 4rem;
    display: flex;
    gap: 3rem;
  }
  .card-benefits {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    img {
      max-width: 8rem;
    }
  }
}
.section-blog {
  background-color: $very-light-gray;
  padding: 5rem 0;
  .cards-blog-wrapper {
    margin-top: 6rem;
    display: flex;
    gap: 3rem;
  }
  img {
    height: 24rem;
    max-width: 100%;
  }
  .card-blog {
    border-radius: 0.6rem;
    overflow: hidden;
  }
  p {
    font-size: 1.5rem;
  }
  .card-blog-content {
    padding: 2.5rem;
    display: flex;
    background-color: $white;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
  }
  address {
    font-size: 1.3rem;
    font-style: normal;
    color: $grayish-blue;
  }
}

footer {
  background-color: $dark-blue;
  padding: 4rem 0;

  .row,
  .footer-left,
  .footer-right,
  .footer-socialmedia,
  .col-1,
  nav {
    display: flex;
  }
  .footer-right {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    a {
      width: fit-content;
    }
    p {
      font-size: 1.6rem;
    }
  }
  .col-1 {
    justify-content: space-between;
    flex-direction: column;
  }
  .row {
    justify-content: space-between;
  }
  .footer-left {
    gap: 10rem;
  }
  .footer-socialmedia {
    gap: 1rem;
  }
  nav {
    gap: 8rem;
    ul {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      gap: 1.5rem;
      margin: unset;
    }
    a {
      font-size: 1.6rem;
      font-weight: 300;
      color: $lightgrayish-blue;
      text-decoration: none;
      transition: 0.4s;
      &:hover {
        color: #2ec695;
      }
    }
  }
  .footer-logo {
    filter: brightness(1000%);
  }
  .footer-socialmedia {
    .filter-limegreen {
      transition: 0.4s;
      cursor: pointer;
      &:hover {
        filter: invert(30%) sepia(13%) saturate(2000%) hue-rotate(110deg)
          brightness(90%) contrast(90%);
      }
    }
  }
}
@media screen and (max-width: 1000px) {
  header,
  .section-hero {
    display: none;
  }
  .section-benefits {
    h2 {
      margin-bottom: 4rem;
    }
    .cards-benefits-wrapper {
      margin-top: 6rem;
      gap: 5rem;
      flex-wrap: wrap;
      justify-content: center;
    }
    .card-benefits {
      text-align: center;
    }
  }
  .section-blog {
    .cards-blog-wrapper {
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .card-blog {
      width: 45%;
    }
    img {
      width: 100%;
    }
  }
  footer {
    background-color: $dark-blue;
    padding: 4rem 0;
    nav {
      flex-direction: column;
      gap: 1.5rem;
    }
    .row {
      gap: 4rem;
    }
    .row,
    .footer-left {
      flex-direction: column;
    }
    .footer-left,
    .footer-right,
    .col-1 {
      gap: 3.5rem;
      align-items: center;
    }
    nav {
      ul {
        padding: unset;
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  h2 {
    text-align: center;
  }
  .section-blog {
    .cards-blog-wrapper {
      justify-content: center;
    }
    .card-blog {
      width: 60%;
    }
    img {
      height: unset;
    }
  }
}
@media screen and (max-width: 475px) {
  h2 {
    text-align: center;
  }
  .section-blog {
    .cards-blog-wrapper {
      margin-top: 3.5rem;
    }
    .card-blog {
      width: 100%;
    }
  }
}
